.header{
	.list-top{
		display: flex;
		justify-content: space-around;
		align-items: center;

		width: 80%;
		margin: 0 auto;
	}
	.list-top__item{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.list-top__description{
		margin-left: 5px;
	}
	.list-bottom{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.logo-item__link{
		font-weight: bold;
		font-size: 42px;
		text-transform: uppercase;
		color: white;
	}
	.header__nav-menu{
		width: 70%;
	}
	.header__list-bottom{
		padding: 2% 20px;
	}
}